* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    max-width: 1170px;
    margin: 0 auto;
}

html {
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
}

h1 {
    font-weight: 800;
}

p {
    line-height: 20px;
    margin: 20px 0;
}

span {
    font-size: 14px;
}

a {
    text-decoration: none;
    font-size: 20px;
    margin: 15px 0;
    color: #696969;
    transition: all .3s ease-out;
}

button {
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #eb4d4b;
    padding: 10px 30px;
    background: #eb4d4b;
    text-transform: uppercase;
    outline: none;
    color: white;
    font-weight: 800;
    transition: transform .2s ease-out;
}

button:active {
    transform: scale(.98);
}

.container {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.form-container form {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.form-container input {
    background: #eeeeee;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 15px;
    margin: 5px 0;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .5s ease-out;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    display: inline-block;
    text-align: center;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #95afc0;
}

.social-container a:not(:first-child) {
    margin-left: 10px;
}

button.ghost {
    background: transparent;
    border-color: white;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 3;
}

.sign-up {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.content-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .5s ease-out;
    z-index: 10;
}

.content {
    background: linear-gradient(to right, #ED4C67, #6F1E51, #ED4C67) no-repeat 0 0/cover;
    color: white;
    position: relative;
    left: -100%;
    width: 200%;
    height: 100%;
    transform: translateX(0);
    transition: transform .5s ease-out;
}

.content-panel {
    position: absolute;
    top: 0;
    text-align: center;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    transform: translateX(0);
    transition: transform .5s ease-out;
}

.content-right {
    right: 0;
    transform: translateX(0);
}

.content-left {
    transform: translateX(-20%);
}

.container.right-panel-active .sign-in {
    transform: translateX(100%);
}

.container.right-panel-active .content-container {
    transform: translateX(-100%);
}

.container.right-panel-active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 6;
}

.container.right-panel-active .content {
    transform: translateX(50%);
}

.container.right-panel-active .content-right {
    transform: translateX(20%);
}

.container.right-panel-active .content-left {
    transform: translateX(0%);
}

.social-container a:hover {
    transform: scale(1.03);
    background-color: #696969;
    color: white;
    border-color: #696969;
}